.SoleTodo {
    border: 2px solid silver;
    text-align: center;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.TodoTitle {
    margin: 20px 0;
    text-decoration: underline;
}